@import "theme";

.bar-container {
  color: $font-color;
  background-color: $primary;
  padding: 0px 0.5rem 0px 0.5rem;
  border-bottom: $border-width solid $secondary;
}

.bar-section-container {
  padding: 3px 0px 3px 0px;
}

.h-separator {
  padding-bottom: 10px;
  padding-top: 10px;
  margin-right: 5px;
  margin-left: 5px;
}

.h-separator-visible {
  padding-bottom: 10px;
  padding-top: 10px;
  margin-right: 5px;
  margin-left: 5px;
  .inner-separator {
    border-left: $outline-width solid $secondary;
  }
}

.v-separator {
  margin-top: 25px;
}

.v-separator-visible {
  border-bottom: 2px solid $secondary;
  margin: 25px 0px 25px 0px;
}
