$secondary: #ffffff;
$primary: #000000;
$font-color: #ffffff;
$light-accent: #2c2c2c;
$dark-accent: #cecece;

$radius-sm: 10px;
$radius-lg: 30px;
$border-width: 0px;

$outline-width: 2px;
$font-bold: 600;

$transition-time: 0.2s;

* {
  all: unset;
  font-family: "SF Pro Rounded";
}
